<div class="container-fluid">
<h1>Create a new cocktail</h1>
  <div class="new-card">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs d-flex m-3">
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      </div>
      <div class="form-submit mt-3">
      <%= f.button :submit, class: "btn btn-flat"%>
      </div>
    <% end %>
  </div>
</div>