<h1>Cocktail details</h1>
<h4>Name: <%= @cocktail.name %></h4>
<p>What you need to make:</p>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "delete item", dose_path(dose),  method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<%= link_to "Back to all cocktails", cocktails_path %> <%= link_to "Add new
dose", new_cocktail_dose_path(@cocktail) %>
